body {
  -webkit-font-smoothing: antialiased;
  --bg: white;
  background-color: var(--bg);

  --textNormal: #222;
  --bodyCol: #222;
  --headerCol: #222;
  --icons: #333335;
  --mobDD: black;
  --logo: #333335;
  --textLink: #c13152f7;
  --gridLine: #bebebe;
  --shadow: lightgrey;
}

hr {
  border-bottom: 1px solid var(--textLink);
  opacity: 0.2;
  height: 0;
}

blockquote {
  color: var(--textNormal);
  font-size: inherit;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #121212;
  background-color: var(--bg);

  --textNormal: rgba(255, 255, 255, 0.88);
  --bodyCol: rgb(184, 184, 184);
  --headerCol: white;
  --textLink: #81b5c5;
  --mobDD: white;
  --logo: white;
  --icons: white;
  --gridLine: #eeeeee6c;
  --shadow: #272525;
}

/*  */
/* Prism theme */
/*  */

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.85rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  border-left: 10px solid #358ccb;
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
  background-color: #fdfdfd;
  background-image: linear-gradient(
    transparent 50%,
    rgba(69, 142, 209, 0.04) 50%
  );
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  margin: 0.5em 0;
  padding: 0 1em;
}

pre[class*="language-"] > code {
  display: block;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  color: #c92c2c;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal;
  background-color: #fdfdfd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7d8b99;
}

.token.punctuation {
  color: #5f6364;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #2f9c0a;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

.token.regex,
.token.important {
  color: #e90;
}

.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}

/*  */
/* End prism theme */
/*  */

::selection {
  background: #2293a7; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #2293a7; /* Gecko Browsers */
  color: white;
}

a {
  color: var(--textLink);
  position: relative;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

a:hover {
  color: var(--logo);
  right: 0;
  text-decoration: none;
}

a:hover:after {
  border-color: var(--textLink);
  right: 0;
}

a:after {
  content: "";
  position: absolute;
  right: 100%;

  left: 0;
}

a:hover:after {
  border-color: var(--textLink);
}

.gridLine {
  stroke-width: 1;
  opacity: 1;
  stroke: var(--gridLine) !important;
}

.tickLine {
  stroke: var(--gridLine) !important;
}

.tickLabel {
  fill: var(--logo) !important;
}

.gatsby-resp-image-background-image {
  width: 100%;
  height: 100%;
  margin: 0;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.MuiPaper-root {
  box-shadow: 1px 1px 4px 0 var(--shadow);
}
